*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #0d0f12;
  --bg-surface: #13161a;
  --text-primary: #D5F9DE;
  --text-secondary: #8AA399;
  --font-mono: 'IBM Plex Mono', monospace;
  --font-display: 'Barlow Condensed', sans-serif;
  --font-body: 'Barlow', sans-serif;
  --accent: #8FA6CB;
  --accent-hover: #DBF4A7;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font-mono);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
